<img src={{model.image}} alt={{model.title}}>
<h4>{{model.title}}</h4>
<p>{{model.body}}</p>

{{edit-post post=model edit="edit"}}

{{new-comment commentSave2="commentSave3" post=model}}

<button {{action 'delete' model}}>Delete</button>
