<img src={{model.image}} alt={{model.title}}>
<h4>{{model.title}}</h4>
<p>{{model.body}}</p>

{{edit-post post=model edit="edit"}}

<ul>
  {{#each model.comments as |comment|}}
    {{comment-tile comment=comment edit="editComment"}}
  {{/each}}
</ul>

{{new-comment commentSave2="commentSave3" post=model}}

<button {{action 'delete' model}}>Delete Post</button>
